.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
  margin-right: 20px;
}

.App-header {
  background: linear-gradient(233.16deg, #00b0ce -10.31%, rgba(0, 176, 206, 0.3) 110.31%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.carrousel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.carrousel img {
  margin: 15px;
  cursor: pointer;
  transition: all 0.45s ease;
}

.carrousel img:hover {
  transform: scale(1.05);
}

.arrows {
  cursor: pointer;
  transition: all 0.45s ease;
}

.arrows:hover {
  transform: scale(1.1);
}
